										
										<!--begin::List Widget 1-->
										<div class="card card-xxl-stretch mb-5 mb-xl-8">
											<!--begin::Card header-->
											<div class="card-header align-items-center border-0 mt-5">
												<!--begin::Card title-->
												<h3 class="card-title align-items-start flex-column">
													<span class="fw-boldest text-dark fs-2">Folders</span>
													<span class="text-gray-400 mt-2 fw-bold fs-6">32 Active Folders</span>
												</h3>
												<!--end::Card title-->
												<!--begin::Card toolbar-->
												<div class="card-toolbar">
													<!--begin::Menu-->
													<button type="button" class="btn btn-sm btn-icon btn-icon-primary btn-active-light-primary me-n3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
														<!--begin::Svg Icon | path: icons/stockholm/Layout/Layout-4-blocks-2.svg-->
														<span class="svg-icon svg-icon-3">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>

<!--layout-partial:partials/menus/_menu-3.html-->

													<!--end::Menu-->
												</div>
												<!--end::Card toolbar-->
											</div>
											<!--end::Card header-->
											<!--begin::Card body-->
											<div class="card-body pt-1">
												<!--begin::Item-->
												<div class="d-flex flex-stack item-border-hover px-3 py-2 ms-n4 mb-3">
													<!--begin::Section-->
													<div class="d-flex align-items-center">
														<!--begin::Symbol-->
														<div class="symbol symbol-35px me-4">
															<span class="symbol-label">
																<!--begin::Svg Icon | path: icons/stockholm/Communication/Clipboard-list.svg-->
																<span class="svg-icon svg-icon-gray-600">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3" />
																		<path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000" />
																		<rect fill="#000000" opacity="0.3" x="10" y="9" width="7" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="7" y="9" width="2" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="7" y="13" width="2" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="10" y="13" width="7" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="7" y="17" width="2" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="10" y="17" width="7" height="2" rx="1" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</span>
														</div>
														<!--end::Symbol-->
														<!--begin::Title-->
														<div class="ps-1 mb-1">
															<a href="#" class="fs-5 text-gray-800 text-hover-primary fw-boldest">Piper Aerostar</a>
															<div class="text-gray-400 fw-bold">piper-aircraft-class.jsp</div>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Section-->
													<!--begin::Label-->
													<span class="label bg-light w-25px h-25px fs-7 fw-boldest">6</span>
													<!--end::Label-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-stack item-border-hover px-3 py-2 ms-n4 mb-3">
													<!--begin::Section-->
													<div class="d-flex align-items-center">
														<!--begin::Symbol-->
														<div class="symbol symbol-35px me-4">
															<span class="symbol-label">
																<!--begin::Svg Icon | path: icons/stockholm/Communication/Clipboard-list.svg-->
																<span class="svg-icon svg-icon-gray-600">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3" />
																		<path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000" />
																		<rect fill="#000000" opacity="0.3" x="10" y="9" width="7" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="7" y="9" width="2" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="7" y="13" width="2" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="10" y="13" width="7" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="7" y="17" width="2" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="10" y="17" width="7" height="2" rx="1" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</span>
														</div>
														<!--end::Symbol-->
														<!--begin::Title-->
														<div class="ps-1 mb-1">
															<a href="#" class="fs-5 text-gray-800 text-hover-primary fw-boldest">Cirrus SR22</a>
															<div class="text-gray-400 fw-bold">cirrus-aircraft.jsp</div>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Section-->
													<!--begin::Label-->
													<span class="label bg-light w-25px h-25px fs-7 fw-boldest">3</span>
													<!--end::Label-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-stack item-border-hover px-3 py-2 ms-n4 mb-3">
													<!--begin::Section-->
													<div class="d-flex align-items-center">
														<!--begin::Symbol-->
														<div class="symbol symbol-35px me-4">
															<span class="symbol-label">
																<!--begin::Svg Icon | path: icons/stockholm/Communication/Clipboard-list.svg-->
																<span class="svg-icon svg-icon-gray-600">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3" />
																		<path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000" />
																		<rect fill="#000000" opacity="0.3" x="10" y="9" width="7" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="7" y="9" width="2" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="7" y="13" width="2" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="10" y="13" width="7" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="7" y="17" width="2" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="10" y="17" width="7" height="2" rx="1" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</span>
														</div>
														<!--end::Symbol-->
														<!--begin::Title-->
														<div class="ps-1 mb-1">
															<a href="#" class="fs-5 text-gray-800 text-hover-primary fw-boldest">Beachcraft Baron</a>
															<div class="text-gray-400 fw-bold">baron-class.pyt</div>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Section-->
													<!--begin::Label-->
													<span class="label bg-light w-25px h-25px fs-7 fw-boldest">2</span>
													<!--end::Label-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-stack item-border-hover px-3 py-2 ms-n4 mb-6">
													<!--begin::Section-->
													<div class="d-flex align-items-center">
														<!--begin::Symbol-->
														<div class="symbol symbol-35px me-4">
															<span class="symbol-label">
																<!--begin::Svg Icon | path: icons/stockholm/Communication/Clipboard-list.svg-->
																<span class="svg-icon svg-icon-gray-600">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3" />
																		<path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000" />
																		<rect fill="#000000" opacity="0.3" x="10" y="9" width="7" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="7" y="9" width="2" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="7" y="13" width="2" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="10" y="13" width="7" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="7" y="17" width="2" height="2" rx="1" />
																		<rect fill="#000000" opacity="0.3" x="10" y="17" width="7" height="2" rx="1" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</span>
														</div>
														<!--end::Symbol-->
														<!--begin::Title-->
														<div class="ps-1 mb-1">
															<a href="#" class="fs-5 text-gray-800 text-hover-primary fw-boldest">Cessna SF150</a>
															<div class="text-gray-400 fw-bold">cessna-aircraft-class.jsp</div>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Section-->
													<!--begin::Label-->
													<span class="label bg-light w-25px h-25px fs-7 fw-boldest">1</span>
													<!--end::Label-->
												</div>
												<!--end::Item-->
												<!--begin::Notice-->
												<div class="rounded border-primary border-dashed bg-light-primary px-6 py-5">
													<a href="#" class="link-primary fw-bolder fs-6 me-1">Intive New .NET Collaborators</a>
													<span class="text-gray-600 fw-bold fs-6">to creating great outstanding business to business .jsp modular class outstanding scripts.</span>
												</div>
												<!--end::Notice-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::List Widget 1-->
										