										
										<!--begin::List Widget 3-->
										<div class="card card-xl-stretch mb-5 mb-xl-8">
											<!--begin::Header-->
											<div class="card-header align-items-center border-0 mt-5">
												<h3 class="card-title align-items-start flex-column">
													<span class="fw-boldest text-dark fs-2">My Agents</span>
													<span class="text-gray-400 mt-2 fw-bold fs-6">More than 400+ new members</span>
												</h3>
												<div class="card-toolbar">
													<!--begin::Menu-->
													<button type="button" class="btn btn-active-light-primary btn-sm btn-icon btn-icon-primary btn-active-light-primary me-n3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
														<!--begin::Svg Icon | path: icons/stockholm/Layout/Layout-4-blocks-2.svg-->
														<span class="svg-icon svg-icon-3 svg-icon-primary">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>

<!--layout-partial:partials/menus/_menu-1.html-->

													<!--end::Menu-->
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-5">
												<!--begin::Item-->
												<div class="d-flex flex-stack mb-7">
													<!--begin::Section-->
													<div class="d-flex align-items-center">
														<!--begin::Symbol-->
														<div class="symbol symbol-35px me-4">
															<img src="assets/media/avatars/150-3.jpg" alt="" />
														</div>
														<!--end::Symbol-->
														<!--begin::Title-->
														<div class="ps-1">
															<a href="#" class="fs-6 text-gray-800 text-hover-primary fw-boldest">Anne Clarc</a>
															<div class="fs-7 text-gray-400 fw-bold mt-1">HTML, CSS, Laravel</div>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Section-->
													<!--begin::Details-->
													<a href="?page=pages/profile/overview" class="btn btn-light btn-color-muted fw-boldest btn-sm px-5">Details</a>
													<!--end::Details-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-stack mb-7">
													<!--begin::Section-->
													<div class="d-flex align-items-center">
														<!--begin::Symbol-->
														<div class="symbol symbol-35px me-4">
															<img src="assets/media/avatars/150-2.jpg" alt="" />
														</div>
														<!--end::Symbol-->
														<!--begin::Title-->
														<div class="ps-1">
															<a href="#" class="fs-6 text-gray-800 text-hover-primary fw-boldest">Brad Simmons</a>
															<div class="fs-7 text-gray-400 fw-bold mt-1">HTML, JS, ReactJS</div>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Section-->
													<!--begin::Details-->
													<a href="?page=pages/profile/overview" class="btn btn-light btn-color-muted fw-boldest btn-sm px-5">Details</a>
													<!--end::Details-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-stack mb-7">
													<!--begin::Section-->
													<div class="d-flex align-items-center">
														<!--begin::Symbol-->
														<div class="symbol symbol-35px me-4">
															<img src="assets/media/avatars/150-4.jpg" alt="" />
														</div>
														<!--end::Symbol-->
														<!--begin::Title-->
														<div class="ps-1">
															<a href="#" class="fs-6 text-gray-800 text-hover-primary fw-boldest">Randy Trent</a>
															<div class="fs-7 text-gray-400 fw-bold mt-1">C#, ASP.NET, MS SQL</div>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Section-->
													<!--begin::Details-->
													<a href="?page=pages/profile/overview" class="btn btn-light btn-color-muted fw-boldest btn-sm px-5">Details</a>
													<!--end::Details-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-stack mb-7">
													<!--begin::Section-->
													<div class="d-flex align-items-center">
														<!--begin::Symbol-->
														<div class="symbol symbol-35px me-4">
															<img src="assets/media/avatars/150-5.jpg" alt="" />
														</div>
														<!--end::Symbol-->
														<!--begin::Title-->
														<div class="ps-1">
															<a href="#" class="fs-6 text-gray-800 text-hover-primary fw-boldest">Ricky Hunt</a>
															<div class="fs-7 text-gray-400 fw-bold mt-1">PHP, Laravel, VueJS</div>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Section-->
													<!--begin::Details-->
													<a href="?page=pages/profile/overview" class="btn btn-light btn-color-muted fw-boldest btn-sm px-5">Details</a>
													<!--end::Details-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-stack mb-">
													<!--begin::Section-->
													<div class="d-flex align-items-center">
														<!--begin::Symbol-->
														<div class="symbol symbol-35px me-4">
															<img src="assets/media/avatars/150-6.jpg" alt="" />
														</div>
														<!--end::Symbol-->
														<!--begin::Title-->
														<div class="ps-1">
															<a href="#" class="fs-6 text-gray-800 text-hover-primary fw-boldest">Jessie Clarcson</a>
															<div class="fs-7 text-gray-400 fw-bold mt-1">ReactJS</div>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Section-->
													<!--begin::Details-->
													<a href="?page=pages/profile/overview" class="btn btn-light btn-color-muted fw-boldest btn-sm px-5">Details</a>
													<!--end::Details-->
												</div>
												<!--end::Item-->
											</div>
											<!--end::Body-->
										</div>
										<!--end::List Widget 3-->
										