										
										<!--begin::List Widget 2-->
										<div class="card card-xl-stretch mb-5 mb-xl-8">
											<!--begin::Header-->
											<div class="card-header align-items-center border-0 mt-5">
												<h3 class="card-title align-items-start flex-column">
													<span class="fw-boldest text-dark fs-2">My Competitors</span>
													<span class="text-gray-400 mt-2 fw-bold fs-6">More than 400+ new members</span>
												</h3>
												<div class="card-toolbar">
													<!--begin::Menu-->
													<button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-primary btn-active-light-primary me-n3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
														<!--begin::Svg Icon | path: icons/stockholm/Layout/Layout-4-blocks-2.svg-->
														<span class="svg-icon svg-icon-3 svg-icon-primary">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>
													
													<!--begin::Menu 2-->
													<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold w-200px" data-kt-menu="true">
														<!--begin::Menu item-->
														<div class="menu-item px-3">
															<div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">Quick Actions</div>
														</div>
														<!--end::Menu item-->
														<!--begin::Menu separator-->
														<div class="separator mb-3 opacity-75"></div>
														<!--end::Menu separator-->
														<!--begin::Menu item-->
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">New Ticket</a>
														</div>
														<!--end::Menu item-->
														<!--begin::Menu item-->
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">New Customer</a>
														</div>
														<!--end::Menu item-->
														<!--begin::Menu item-->
														<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start" data-kt-menu-flip="left-start, top">
															<!--begin::Menu item-->
															<a href="#" class="menu-link px-3">
																<span class="menu-title">New Group</span>
																<span class="menu-arrow"></span>
															</a>
															<!--end::Menu item-->
															<!--begin::Menu sub-->
															<div class="menu-sub menu-sub-dropdown w-175px py-4">
																<!--begin::Menu item-->
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Admin Group</a>
																</div>
																<!--end::Menu item-->
																<!--begin::Menu item-->
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Staff Group</a>
																</div>
																<!--end::Menu item-->
																<!--begin::Menu item-->
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Member Group</a>
																</div>
																<!--end::Menu item-->
															</div>
															<!--end::Menu sub-->
														</div>
														<!--end::Menu item-->
														<!--begin::Menu item-->
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">New Contact</a>
														</div>
														<!--end::Menu item-->
														<!--begin::Menu separator-->
														<div class="separator mt-3 opacity-75"></div>
														<!--end::Menu separator-->
														<!--begin::Menu item-->
														<div class="menu-item px-3">
															<div class="menu-content px-3 py-3">
																<a class="btn btn-primary btn-sm px-4" href="#">Generate Reports</a>
															</div>
														</div>
														<!--end::Menu item-->
													</div>
													<!--end::Menu 2-->
													
													<!--end::Menu-->
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-5">
												<!--begin::Item-->
												<div class="d-flex mb-6">
													<!--begin::Symbol-->
													<div class="symbol symbol-60px symbol-2by3 flex-shrink-0 me-4">
														<img src="assets/media/stock/600x400/img-17.jpg" class="mw-100" alt="" />
													</div>
													<!--end::Symbol-->
													<!--begin::Section-->
													<div class="d-flex align-items-center flex-wrap flex-grow-1 mt-n2 mt-lg-n1">
														<!--begin::Title-->
														<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
															<a href="#" class="fs-5 text-gray-800 text-hover-primary fw-boldest">Cup &amp; Green</a>
															<span class="text-gray-400 fw-bold fs-7 my-1">Study highway types</span>
															<span class="text-gray-400 fw-bold fs-7">By:
															<a href="#" class="text-primary fw-bold">CoreAd</a></span>
														</div>
														<!--end::Title-->
														<!--begin::Info-->
														<div class="text-end py-lg-0 py-2">
															<span class="text-gray-800 fw-boldest fs-3">24,900</span>
															<span class="text-gray-400 fs-7 fw-bold d-block">Sales</span>
														</div>
														<!--end::Info-->
													</div>
													<!--end::Section-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex mb-6">
													<!--begin::Symbol-->
													<div class="symbol symbol-60px symbol-2by3 flex-shrink-0 me-4">
														<img src="assets/media/stock/600x400/img-10.jpg" class="mw-100" alt="" />
													</div>
													<!--end::Symbol-->
													<!--begin::Section-->
													<div class="d-flex align-items-center flex-wrap flex-grow-1 mt-n2 mt-lg-n1">
														<!--begin::Title-->
														<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
															<a href="#" class="fs-5 text-gray-800 text-hover-primary fw-boldest">Yellow Hearts</a>
															<span class="text-gray-400 fw-bold fs-7 my-1">Study highway types</span>
															<span class="text-gray-400 fw-bold fs-7">By:
															<a href="#" class="text-primary fw-bold">KeenThemes</a></span>
														</div>
														<!--end::Title-->
														<!--begin::Info-->
														<div class="text-end py-lg-0 py-2">
															<span class="text-gray-800 fw-boldest fs-3">70,380</span>
															<span class="text-gray-400 fs-7 fw-bold d-block">Sales</span>
														</div>
														<!--end::Info-->
													</div>
													<!--end::Section-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex mb-6">
													<!--begin::Symbol-->
													<div class="symbol symbol-60px symbol-2by3 flex-shrink-0 me-4">
														<img src="assets/media/stock/600x400/img-1.jpg" class="mw-100" alt="" />
													</div>
													<!--end::Symbol-->
													<!--begin::Section-->
													<div class="d-flex align-items-center flex-wrap flex-grow-1 mt-n2 mt-lg-n1">
														<!--begin::Title-->
														<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
															<a href="#" class="fs-5 text-gray-800 text-hover-primary fw-boldest">Nike &amp; Blue</a>
															<span class="text-gray-400 fw-bold fs-7 my-1">Study highway types</span>
															<span class="text-gray-400 fw-bold fs-7">By:
															<a href="#" class="text-primary fw-bold">Invision Inc.</a></span>
														</div>
														<!--end::Title-->
														<!--begin::Info-->
														<div class="text-end py-lg-0 py-2">
															<span class="text-gray-800 fw-boldest fs-3">7,200</span>
															<span class="text-gray-400 fs-7 fw-bold d-block">Sales</span>
														</div>
														<!--end::Info-->
													</div>
													<!--end::Section-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex mb-">
													<!--begin::Symbol-->
													<div class="symbol symbol-60px symbol-2by3 flex-shrink-0 me-4">
														<img src="assets/media/stock/600x400/img-9.jpg" class="mw-100" alt="" />
													</div>
													<!--end::Symbol-->
													<!--begin::Section-->
													<div class="d-flex align-items-center flex-wrap flex-grow-1 mt-n2 mt-lg-n1">
														<!--begin::Title-->
														<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
															<a href="#" class="fs-5 text-gray-800 text-hover-primary fw-boldest">Red Boots</a>
															<span class="text-gray-400 fw-bold fs-7 my-1">Study highway types</span>
															<span class="text-gray-400 fw-bold fs-7">By:
															<a href="#" class="text-primary fw-bold">Figma Studio</a></span>
														</div>
														<!--end::Title-->
														<!--begin::Info-->
														<div class="text-end py-lg-0 py-2">
															<span class="text-gray-800 fw-boldest fs-3">36,450</span>
															<span class="text-gray-400 fs-7 fw-bold d-block">Sales</span>
														</div>
														<!--end::Info-->
													</div>
													<!--end::Section-->
												</div>
												<!--end::Item-->
											</div>
											<!--end::Body-->
										</div>
										<!--end::List Widget 2-->
										