				<!--begin::Aside-->
				<div id="kt_aside" class="aside aside-default bg-white aside-hoverable" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">
					<!--begin::Brand-->
					<div class="aside-logo flex-column-auto pt-9 pb-5" id="kt_aside_logo">
						<!--begin::Logo-->
						<a href="/">
							<img alt="Logo" src="{{ url_for('static', filename='assets/media/logos/avatar.png') }}" style="width: 50px;" class="max-h-50px logo-default" />
							<img alt="Logo" src="{{ url_for('static', filename='assets/media/logos/avatar.png') }}" style="width: 50px;" class="max-h-50px logo-minimize" />
						</a>
						<!--end::Logo-->
					</div>
					<!--end::Brand-->
					<!--begin::Aside menu-->
					<div class="aside-menu flex-column-fluid">
						<!--begin::Aside Menu-->
						<!--begin::Menu-->
						{% include "base/layout/aside/_menu.html" %}
						<!--end::Menu-->
					</div>
					<!--end::Aside menu-->
					<!--begin::Footer-->
					<div class="aside-footer flex-column-auto" id="kt_aside_footer"></div>
					<!--end::Footer-->
				</div>
				<!--end::Aside-->
				