{% extends "base.html" %}
{% block title %} Ookla {% endblock %}
{% block style %}
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.js"></script>
{% endblock %}
{% block content %}

<div>
    <div class="modal fade" id="model" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ookla Speed Test</h5>
    
                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <span class="svg-icon svg-icon-2x"></span>
                    </div>
                    <!--end::Close-->
                </div>
                <div id="oflow" style="height:60vh;" class="modal-body overflow-auto">
                    <div id="loading">
                        <div class="d-flex justify-content-center bg-black my-6">
                            <div class="spinner-grow text-danger" style="width: 4rem; height: 4rem;" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center my-6 align-items-center">
                            <div class="spinner-border text-primary mx-3" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <h1 class="text-gray-500 fs-4 align-middle my-4">Speed Test Running</h1>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" id="done">
                        
                    </div>
                    <div class="d-flex justify-content-center ">
                        <div class="card w-75 p-3 bg-gray ">
                            <div class="separator border-secondary my-1"></div>
                            <!-- 1 -->
                            <!-- overflow: auto; -->
                            <div id="result">
    
                            </div>
                          <!-- <div class="d-flex justify-content-around align-items-center pt-2 text-gray-700 fs-6">
                              <div>
                                  <p style="text-align: center;">Jitter</p>
                              </div>
                              <div>
                                  <p>0.28 ms</p>
                              </div>     
                          </div>
                          <div class="separator border-secondary my-1"></div> -->
                          <!-- 2 -->
                          <!-- <div class="d-flex justify-content-around text-gray-700">
                            <div>
                                <p style="text-align: center;">Jitter</p>
                            </div>
                            <div>
                                <p>0.28 ms</p>
                            </div>     
                        </div>
                        <div class="separator border-secondary my-1"></div> -->
                        <!-- end -->
                        </div>
                    </div>
                </div>
    
                <div class="modal-footer">
                    <button type="button" onclick="closeModel()" id="closeBTN" style="display: none;" class="btn btn-light" >Close</button>
                    <!-- <button type="button" hidden class="btn btn-primary"></button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="card w-75 p-3 ">
        <div class="d-flex justify-content-center my-6">
            <label class="fs-3 form-label">Select Server <span class="text-primary">(Optional)</span></label>
        </div>
        <div class="d-flex justify-content-center">
            <select class="form-select form-select-solid" id="server_code" data-control="select2" data-placeholder="Select an option">
                {% for server in serverList.servers %}
                <option value="{{server.id}}">{{server.name}} [{{server.location}}]</option>
                {% endfor %}
            </select>
        </div>
        <div class="d-flex justify-content-center my-6">
            <!-- <button onclick="runTest()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_1"> -->
            <button onclick="runTest()" type="button" class="btn btn-primary">
                Run Speed Test
            </button>
        </div>
    </div>
</div>

<!-- <div class="modal fade" tabindex="-1" id="kt_modal_1"> -->


{% endblock %}
{% block script %}
<script>
    let model = document.querySelector("#model");
    const runTest = () =>{
        model.className = "modal fade show";
        model.style.display = "block";
        model.role = "dialog";
        ookla()
    }
    
    function closeModel(){
        location.reload();
    }
    
    function ookla(){
        let server_code = document.querySelector("#server_code").value
        let result = document.getElementById("result")
        const data = { 'code': server_code };
        fetch('/Ookla_Result', {
            method: 'POST', // or 'PUT'
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          })
          .then(response => response.json())
          .then(data => {
            console.log('Success:', data);
            for(const item in data){
                if (item == "Server"){
                    result.innerHTML += `<div class="d-flex justify-content-center align-items-center pt-2 text-gray-700 fs-6">
                        <div>
                            <p class="text-danger text-center">${data[item]}</p>
                        </div>     
                    </div>
                    <div class="separator border-secondary my-1"></div>`
                }else{
                    result.innerHTML += `<div class="d-flex justify-content-between align-items-center pt-2 text-gray-700 fs-6">
                        <div>
                            <p style="text-align: center;">${item}</p>
                        </div>
                        <div>
                            <p>${data[item]}</p>
                        </div>     
                    </div>
                    <div class="separator border-secondary my-1"></div>`
                }
                
            }
            document.getElementById("loading").style.display = "none"
            document.getElementById("closeBTN").style.display = "block"
            document.getElementById("done").innerHTML = `
                <dotlottie-player src="https://assets10.lottiefiles.com/dotlotties/dlf10_hrchnagr.lottie"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"    autoplay></dotlottie-player>
                `
          })
          .catch((error) => {
            console.error('Error:', error);
          });
          
    }
</script>
{% endblock %}