<div class="flex-column current" data-kt-stepper-element="content">
    <!--begin::Input group-->
    <div class="fv-row mb-10">
        <!--begin::Label-->
        <label class="form-label fs-4">Local</label>
        <!--end::Label-->

        <!--begin::Input-->
        <select name="locale" class="form-select form-select-solid" data-control="select2" data-placeholder="Select an option">
            {% for locale in context.locales %}
            <option value="{{locale}}">{{locale}}</option>
            {%endfor%}
        </select>
        <!--end::Input-->
    </div>
    <!--end::Input group-->

    <!--begin::Input group-->
    <div class="fv-row mb-10">
        <!--begin::Label-->
        <label class="form-label fs-4">Language</label>
        <!--end::Label-->

        <!--begin::Input-->
        <select name="language" class="form-select form-select-solid" data-control="select2" data-placeholder="Select an option">
            {% for language in context.languages %}
                <option value="{{language}}">{{language}}</option>
            {%endfor%}
        </select>
        <!--end::Input-->
    </div>
    <!--end::Input group-->

    <!--begin::Input group-->
    <div class="fv-row mb-10">
        <!--begin::Label-->
        <label class="form-label fs-4">Country</label>
        <!--end::Label-->
        
        <!--begin::Input-->
        <select name="country" class="form-select form-select-solid" data-control="select2" data-placeholder="Select an option">
            {% for country in context.countries %}
                <option value="{{country}}">{{country}}</option>
            {%endfor%}
        </select>
        <!--end::Input-->
    </div>
    <!--end::Input group-->

    <!--begin::Input group-->
    <div class="fv-row d-flex justify-content-between mb-10">
        <!--begin::Label-->
        <label class="form-label fs-4">Multi Locale</label>
        <!--end::Label-->

        <!--begin::Switch-->
        <label class="form-check form-switch form-check-custom form-check-solid">
            <input id="multi_locale_check" onclick="changeVal(this)" name="multi_locale" class="form-check-input" type="checkbox"  value="0"/>
            <span class="form-check-label">
                Switch
            </span>
        </label>
        <!--end::Switch-->
    </div>
    <!--end::Input group-->

    <!--begin::Input group-->
    <div class="fv-row mb-10" id="multi_language_environment" style="display: none;">
        <!--begin::Label-->
        <label class="form-label fs-4">Multi Language Environment</label>
        <!--end::Label-->

        <!--begin::Ml-->
        <select id="get_value_from_mle" class="form-select form-select-solid" data-control="select2" data-placeholder="Select an option" data-allow-clear="true" multiple="multiple">
            {% for environment in context.environments %}
                <option value="{{environment}}">{{environment}}</option>
            {%endfor%}
        </select>
        <!--end::Ml-->
        <input style="display: none;" id="purse-mle" name="multi_language_environment"/>
    </div>
    <!--end::Input group-->

    <!--begin::Input group-->
    <div class="fv-row d-flex justify-content-between mb-10">
        <!--begin::Label-->
        <label class="form-label fs-4">Allow-Unauthenticated</label>
        <!--end::Label-->

        <!--begin::Switch-->
        <label class="form-check form-switch form-check-custom form-check-solid">
            <input onclick="changeVal(this)" name="allow_unauthenticated" class="form-check-input" type="checkbox" checked="checked" value="1"/>
            <span class="form-check-label">
                Switch
            </span>
        </label>
        <!--end::Switch-->
    </div>
    <!--end::Input group-->
</div>