								
								<!--begin::Modal - Create App-->
								<div class="modal fade" id="kt_modal_create_app" tabindex="-1" aria-hidden="true">
									<!--begin::Modal dialog-->
									<div class="modal-dialog modal-dialog-centered mw-900px">
										<!--begin::Modal content-->
										<div class="modal-content">
											<!--begin::Modal header-->
											<div class="modal-header">
												<!--begin::Modal header-->
												<h1 class="fw-boldest">Create App</h1>
												<!--end::Modal header-->
												<!--begin::Close-->
												<div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
													<!--begin::Svg Icon | path: icons/duotone/Interface/Close-Square.svg-->
													<span class="svg-icon svg-icon-2x">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M2.36899 6.54184C2.65912 4.34504 4.34504 2.65912 6.54184 2.36899C8.05208 2.16953 9.94127 2 12 2C14.0587 2 15.9479 2.16953 17.4582 2.36899C19.655 2.65912 21.3409 4.34504 21.631 6.54184C21.8305 8.05208 22 9.94127 22 12C22 14.0587 21.8305 15.9479 21.631 17.4582C21.3409 19.655 19.655 21.3409 17.4582 21.631C15.9479 21.8305 14.0587 22 12 22C9.94127 22 8.05208 21.8305 6.54184 21.631C4.34504 21.3409 2.65912 19.655 2.36899 17.4582C2.16953 15.9479 2 14.0587 2 12C2 9.94127 2.16953 8.05208 2.36899 6.54184Z" fill="#12131A" />
															<path fill-rule="evenodd" clip-rule="evenodd" d="M8.29289 8.29289C8.68342 7.90237 9.31658 7.90237 9.70711 8.29289L12 10.5858L14.2929 8.29289C14.6834 7.90237 15.3166 7.90237 15.7071 8.29289C16.0976 8.68342 16.0976 9.31658 15.7071 9.70711L13.4142 12L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L12 13.4142L9.70711 15.7071C9.31658 16.0976 8.68342 16.0976 8.29289 15.7071C7.90237 15.3166 7.90237 14.6834 8.29289 14.2929L10.5858 12L8.29289 9.70711C7.90237 9.31658 7.90237 8.68342 8.29289 8.29289Z" fill="#12131A" />
														</svg>
													</span>
													<!--end::Svg Icon-->
												</div>
												<!--end::Close-->
											</div>
											<!--end::Modal header-->
											<!--begin::Modal body-->
											<div class="modal-body py-lg-10 px-lg-10">
												<!--begin::Stepper-->
												<div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid" id="kt_modal_create_app_stepper">
													<!--begin::Aside-->
													<div class="d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px">
														<!--begin::Nav-->
														<div class="stepper-nav ps-lg-10">
															<!--begin::Step 1-->
															<div class="stepper-item current" data-kt-stepper-element="nav">
																<!--begin::Line-->
																<div class="stepper-line w-40px"></div>
																<!--end::Line-->
																<!--begin::Icon-->
																<div class="stepper-icon w-40px h-40px">
																	<i class="stepper-check fas fa-check"></i>
																	<span class="stepper-number">1</span>
																</div>
																<!--end::Icon-->
																<!--begin::Label-->
																<div class="stepper-label">
																	<h3 class="stepper-title">Details</h3>
																	<div class="stepper-desc">Name your App</div>
																</div>
																<!--end::Label-->
															</div>
															<!--end::Step 1-->
															<!--begin::Step 2-->
															<div class="stepper-item" data-kt-stepper-element="nav">
																<!--begin::Line-->
																<div class="stepper-line w-40px"></div>
																<!--end::Line-->
																<!--begin::Icon-->
																<div class="stepper-icon w-40px h-40px">
																	<i class="stepper-check fas fa-check"></i>
																	<span class="stepper-number">2</span>
																</div>
																<!--begin::Icon-->
																<!--begin::Label-->
																<div class="stepper-label">
																	<h3 class="stepper-title">Frameworks</h3>
																	<div class="stepper-desc">Define your app framework</div>
																</div>
																<!--begin::Label-->
															</div>
															<!--end::Step 2-->
															<!--begin::Step 3-->
															<div class="stepper-item" data-kt-stepper-element="nav">
																<!--begin::Line-->
																<div class="stepper-line w-40px"></div>
																<!--end::Line-->
																<!--begin::Icon-->
																<div class="stepper-icon w-40px h-40px">
																	<i class="stepper-check fas fa-check"></i>
																	<span class="stepper-number">3</span>
																</div>
																<!--end::Icon-->
																<!--begin::Label-->
																<div class="stepper-label">
																	<h3 class="stepper-title">Database</h3>
																	<div class="stepper-desc">Select the app database type</div>
																</div>
																<!--end::Label-->
															</div>
															<!--end::Step 3-->
															<!--begin::Step 4-->
															<div class="stepper-item" data-kt-stepper-element="nav">
																<!--begin::Line-->
																<div class="stepper-line w-40px"></div>
																<!--end::Line-->
																<!--begin::Icon-->
																<div class="stepper-icon w-40px h-40px">
																	<i class="stepper-check fas fa-check"></i>
																	<span class="stepper-number">4</span>
																</div>
																<!--end::Icon-->
																<!--begin::Label-->
																<div class="stepper-label">
																	<h3 class="stepper-title">Billing</h3>
																	<div class="stepper-desc">Provide payment details</div>
																</div>
																<!--end::Label-->
															</div>
															<!--end::Step 4-->
															<!--begin::Step 5-->
															<div class="stepper-item" data-kt-stepper-element="nav">
																<!--begin::Line-->
																<div class="stepper-line w-40px"></div>
																<!--end::Line-->
																<!--begin::Icon-->
																<div class="stepper-icon w-40px h-40px">
																	<i class="stepper-check fas fa-check"></i>
																	<span class="stepper-number">5</span>
																</div>
																<!--end::Icon-->
																<!--begin::Label-->
																<div class="stepper-label">
																	<h3 class="stepper-title">Release</h3>
																	<div class="stepper-desc">Review and Submit</div>
																</div>
																<!--end::Label-->
															</div>
															<!--end::Step 5-->
														</div>
														<!--end::Nav-->
													</div>
													<!--begin::Aside-->
													<!--begin::Content-->
													<div class="flex-row-fluid py-lg-5 px-lg-15">
														<!--begin::Form-->
														<form class="form" novalidate="novalidate" id="kt_modal_create_app_form">

<!--layout-partial:partials/modals/create-app/steps/_step-1.html-->


<!--layout-partial:partials/modals/create-app/steps/_step-2.html-->


<!--layout-partial:partials/modals/create-app/steps/_step-3.html-->


<!--layout-partial:partials/modals/create-app/steps/_step-4.html-->


<!--layout-partial:partials/modals/create-app/steps/_step-5.html-->

															<!--begin::Actions-->
															<div class="d-flex justify-content-between pt-10">
																<!--begin::Wrapper-->
																<div class="me-2">
																	<button type="button" class="btn btn-lg btn-light-primary me-3" data-kt-stepper-action="previous">
																	<!--begin::Svg Icon | path: icons/stockholm/Navigation/Left-2.svg-->
																	<span class="svg-icon svg-icon-3 me-1">
																		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																			<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																				<polygon points="0 0 24 0 24 24 0 24" />
																				<rect fill="#000000" opacity="0.3" transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000)" x="14" y="7" width="2" height="10" rx="1" />
																				<path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)" />
																			</g>
																		</svg>
																	</span>
																	<!--end::Svg Icon-->Back</button>
																</div>
																<!--end::Wrapper-->
																<!--begin::Wrapper-->
																<div>
																	<button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="submit">
																		<span class="indicator-label">Submit
																		<!--begin::Svg Icon | path: icons/stockholm/Navigation/Right-2.svg-->
																		<span class="svg-icon svg-icon-3 ms-2 me-0">
																			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																					<polygon points="0 0 24 0 24 24 0 24" />
																					<rect fill="#000000" opacity="0.5" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
																					<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																				</g>
																			</svg>
																		</span>
																		<!--end::Svg Icon--></span>
																		<span class="indicator-progress">Please wait...
																		<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
																	</button>
																	<button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="next">Continue
																	<!--begin::Svg Icon | path: icons/stockholm/Navigation/Right-2.svg-->
																	<span class="svg-icon svg-icon-3 ms-1 me-0">
																		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																			<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																				<polygon points="0 0 24 0 24 24 0 24" />
																				<rect fill="#000000" opacity="0.5" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
																				<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																			</g>
																		</svg>
																	</span>
																	<!--end::Svg Icon--></button>
																</div>
																<!--end::Wrapper-->
															</div>
															<!--end::Actions-->
														</form>
														<!--end::Form-->
													</div>
													<!--end::Content-->
												</div>
												<!--end::Stepper-->
											</div>
											<!--end::Modal body-->
										</div>
										<!--end::Modal content-->
									</div>
									<!--end::Modal dialog-->
								</div>
								<!--end::Modal - Create App-->
								