							
							<!--begin::Container-->
							<div class="container">
								
								<!--begin::Row-->
								<div class="row g-xl-8">
									<!--begin::Col-->
									<div class="col-xxl-8">
										<!--begin::Row-->
										<div class="row g-xl-8">
											<!--begin::Col-->
											<div class="col-xl-6">

<!--layout-partial:partials/widgets/charts/_widget-1.html-->

											</div>
											<!--end::Col-->
											<!--begin::Col-->
											<div class="col-xl-6">

<!--layout-partial:partials/widgets/sliders/_widget-1.html-->

											</div>
											<!--end::Col-->
										</div>
										<!--end::Row-->
										<!--begin::Row-->
										<div class="row g-xl-8">
											<!--begin::Col-->
											<div class="col-xl-6">

<!--layout-partial:partials/widgets/charts/_widget-2.html-->

											</div>
											<!--end::Col-->
											<!--begin::Col-->
											<div class="col-xl-6">

<!--layout-partial:partials/widgets/sliders/_widget-2.html-->

											</div>
											<!--end::Col-->
										</div>
										<!--end::Row-->
									</div>
									<!--end::Col-->
									<!--begin::Col-->
									<div class="col-xxl-4 gy-0 gy-xxl-8">

<!--layout-partial:partials/widgets/engage/_widget-1.html-->

									</div>
									<!--end::Col-->
								</div>
								<!--end::Row-->
								<!--begin::Row-->
								<div class="row g-5 gx-xxl-8 mb-xxl-3">
									<!--begin::Col-->
									<div class="col-xxl-8">

<!--layout-partial:partials/widgets/tables/_widget-1.html-->

									</div>
									<!--end::Col-->
									<!--begin::Col-->
									<div class="col-xxl-4">

<!--layout-partial:partials/widgets/lists/_widget-1.html-->

									</div>
									<!--end::Col-->
								</div>
								<!--end::Row-->
								<!--begin::Row-->
								<div class="row g-5 g-xl-8">
									<!--begin::Col-->
									<div class="col-xl-4">

<!--layout-partial:partials/widgets/lists/_widget-2.html-->

									</div>
									<!--end::Col-->
									<!--begin::Col-->
									<div class="col-xl-4">

<!--layout-partial:partials/widgets/lists/_widget-3.html-->

									</div>
									<!--end::Col-->
									<!--begin::Col-->
									<div class="col-xl-4">

<!--layout-partial:partials/widgets/lists/_widget-4.html-->

									</div>
									<!--end::Col-->
								</div>
								<!--end::Row-->
								<!--begin::Modals-->

<!--layout-partial:partials/modals/create-app/_main.html-->


<!--layout-partial:partials/modals/_upgrade-plan.html-->


<!--layout-partial:partials/modals/_select-location.html-->

								<!--end::Modals-->
								
							</div>
							<!--end::Container-->
							